.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-primary);

    .sidebar-title {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--text-primary);
    }

    .sidebar-logo {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1;
        color: var(--text-primary);
    }

    &[data-size="small"] {
        gap: 8px;

        .sidebar-title {
            font-size: 1rem;
            margin-top: 6px;
        }

        .sidebar-logo {
            font-size: 1rem;
        }
    }

    &[data-size="large"] {
        gap: 14px;

        .sidebar-title {
            font-size: 2rem;
            margin-top: 14px;
        }

        .sidebar-logo {
            font-size: 4rem;
        }
    }
}