@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  background-color: #24263A;
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-design {
  --tag-color: #A78BFA;
}

.color-medicine {
  --tag-color: #34D399;
}

.color-sport {
  --tag-color: #FBBF24;
}

.color-finance {
  --tag-color: #60A5FA;
}

.color-work {
  --tag-color: #F87171;
}

.color-default {
  --tag-color: #9CA3AF;
}